*{
    background-color: #010031;
    color: black;
}  

.campo-todo{
    background-color: antiquewhite;
    height: 25rem;
    width: 40%;
    position: relative;
    left: 30%;
}

.intro{
    background-color: antiquewhite;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 24px;
    width: 90%;
    position: relative;
    left: 5%;
    top: 5%;
}