*{
    background-color: #010031;
    color: black;
}  

.campo-todo{
    background-color: antiquewhite;
    height: auto;
    width: 40%;
    position: relative;
    left: 30%;
    padding: 40px;
}

.intro{
    background-color: antiquewhite;
    text-align: center;
    font-size: 24px;
    width: 90%;
    position: relative;
    left: 5%;
}