.es-numero{
    height: 100px;
    width: 30%;
    background-color: #6b6b6b;
    
}

.es-numero-operador{
    height: 100px;
    width: 30%;
    background-color: #6b6b6b;
}

.es-numero-operador button{
    height: 100%;
    width: 100%;
    background-color: rgb(60, 60, 60);
    border-radius: 15%;
}

.es-numero button{
    height: 100%;
    width: 100%;
    background-color: rgb(60, 60, 60);
    border-radius: 15%;
}