.panel{
    background-color: #6b6b6b;
}

.panel p{
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, black 0px 0px 0px 2px inset;
    color: black;
    text-align: right;
    border-radius: 10px;
    padding: 2%;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
}

